iframe{
    width: 409px;
    height: 315px;
}
@media(min-width:768px){
    .container{
       display: flex;
    }
    .row{
       float: left;
    }
    h1{
        font-size: 20px;
        padding-left: 10px;
        padding-top: 5px;
    }
    p{
        padding: 10px;
    }
}
@media(min-width:1024px){
    .container{
        border-top: 1px solid black;
    }
    iframe{
        width: 550px;
        height: 315px;
    }
    h1{
        font-size: 25px;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 20px;
    }
    p{
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 20px;
    }
}